@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #b4da55;
}

body{
    background: #dddddd;
    margin: 0;
    font-family: 'Roboto'
}

.navbar{
    background: rgb(123,142,78);
    background: linear-gradient(180deg, rgba(123,142,78,1) 0%, rgba(180,218,85,1) 15%,rgba(180,218,85,1) 80%, rgba(123,142,78,1) 100%);    padding: 1em;
    padding: .3em 1em .3em 1em;
    
    nav {
        display: none;
        position: fixed;
        z-index: 999;
        width: 33%;
        right: 0;
        top: 0;
        background: #303030;
        height: 100vh;
        padding: 1em;

        ul.primary-nav {
            margin-top: 5em;
        }
        
        li {

            a {
                color: white;
                text-decoration: none;
                display: block;
                padding: .5em;
                font-size: 1.3em;
                text-align: right;

                &:hover {
                    color: var(--primary-color);
                }
            }

        }
    
    }

    .mobile-menu-exit {
            float: right;
            margin: .5em;
            cursor: pointer;
    }
    
    .mobile-menu {
        display: block;
        cursor: pointer;
    }
    
    .container {
        display: flex;
        place-content: space-between;
        
        a {
            text-decoration: none;
            font-weight: bold;
            font-size: 1em;
            text-shadow: 1px 1px #303030;
            
        }
        
    }

    
}

a {
    color: #b00b69;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.hero {
    padding: 5em 2em;
    background-image: url("background.jpg");
    background-color: #c2c2c2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 500px;
    .container {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: #f0f0f0;
        h1 {
            color: #b4da55;
            text-transform: uppercase;
            font-size: 2em;
            text-shadow: 3px 3px #303030;
            line-height: 1em;
        }
        .subhead {
            font-weight: bold;
            color: white;
            text-shadow: 1px 1px #303030;
            margin-top: 1em;
            padding-top: 4em;
        }
        .primary {
            background:var(--primary-color);
            color: #303030;
            text-decoration: none;
            padding: .6em 1.3em;
            font-size: 1.4em;
            border-radius: 5em;
            font-weight: bold;
            display: inline-block;
            margin-top: 2em;
            
            &:hover {
                background: #b00b69;
                color: white;
            }
        }
        
    }
}

.studio {
    background: var(--primary-color);
    background: linear-gradient(180deg, rgba(123,142,78,1) 0%, rgba(180,218,85,1) 15%,var(--primary-color) 80%, var(--primary-color) 100%);
    padding-top: 1em;
    padding-bottom: 1em;
    .studio-locations {
        margin-top: 0;
       .studio-list-left {
            width: 80%;
            margin: 0em auto 0em auto;
            border-radius: 2em;
            background: #303030;
            ul {
                margin: 2em auto 2em auto;
                position: relative;
                text-align: center;
                padding: 1em 2em 1em 2em;
                color: white;
                text-shadow: 1px 1px #303030;
                li{
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 1.1em;
                    margin-bottom: 0.5em;
                    margin-top: 0.5em;
                    margin-left: 0em;
                }
            }
        }
        .studio-list-right {
        iframe {
            display: none;
            padding-bottom: 5em;
            width: 80%;
        }
        }
    }
}

.prices {
    background: #303030;
    background: var(--primary-color);
    margin-top: 0em;
    padding-top: 2em;
    padding-bottom: 1em;
    .container {
        a {
            text-decoration: none;
        }
        .premium {
            background: #303030;
            border-radius: 2em;
            width: 80%;
            margin: 2em auto 0em auto;
            color: white;
            h6 {
                margin: 0em 1em 0em 1em;
                text-shadow: 2px 2px #303030;
                font-size: 2em;
                text-align: center;
                color: #418df0;
            }
            p.price {
                padding-top: 0em;
                font-weight: bold;
                text-shadow: 1px 1px #303030;
                text-align: center;
                font-size: 2em;
            }
            p {
                font-weight: bold;
                text-shadow: 1px 1px #303030;
                text-align: center;
                font-size: 2em;
            }
        }

        .daylight {
            background: #303030;
            border-radius: 2em;
            margin-top: 0em;
            width: 80%;
            margin: 2em auto 0em auto;
            color: rgb(253, 251, 95);
            h6 {
                margin: 0em 1em 0em 1em;
                text-shadow: 2px 2px #303030;
                font-size: 2em;
                text-align: center;
            }
            p.price {
                padding-top: 0em;
                font-weight: bold;
                font-size: 2em;
                color: white;
                text-shadow: 1px 1px #303030;
                text-align: center;
            }
            p {
                font-weight: bold;
                text-shadow: 1px 1px #303030;
                text-align: center;
                font-size: 2em;
                color: white;
            }
        }

        .weekly {
            background: #303030;
            border-radius: 2em;
            margin-top: 0em;
            color: white;
            width: 80%;
            margin: 0em auto 0em auto;
            h6 {
                margin: 1em 1em 0em 1em;
                text-shadow: 2px 2px #303030;
                font-size: 2em;
                text-align: center;
                color: #b00b69;
            }
            p.price {
                text-shadow: 1px 1px #303030;
                text-align: center;
                color: white;
            }
            p {
                font-weight: bold;
                text-shadow: 1px 1px #303030;
                text-align: center;
                font-size: 2em;
                color: white;
            }
        }
    }
}

.services {
    background: var(--primary-color);
}

.news {
    background: var(--primary-color);
}


.contact {
    background: var(--primary-color);
    background: linear-gradient(180deg, var(--primary-color) 0%, rgba(180,218,85,1) 15%,rgba(180,218,85,1) 80%, #303030 100%);
    .container {
        .contact-left {
            padding-left: 1em;
            padding-right: 1em;
            padding-top: 1em;
            h2 {
                font-size: 2em;
                color: #b00b69;
                text-shadow: 1px 1px #303030;
            }
            label {
                display: block;
                margin: 0.5em 0 0.5em 0;
                color: white;
                text-shadow: 1px 1px #303030;
            }
            input, textarea {
                width: 100%;
                padding: 0.8em;
                margin-bottom: 1em;
                border-radius: 0.3em;
                border: 1px solid grey;
                box-sizing: border-box;
                padding-right: 1em;
            }
            input[type="submit"] {
                background-color: #b00b69;
                color: white;
                font-weight: bold;
                border: none;
                margin-bottom: 5em;
                border-radius: 5em;
                display: inline-block;
                padding: 0.8em 2em;
                width: unset;
                cursor: pointer;
            }
        }
        .contact-right {
            text-align: center;
            iframe {
                width: 90%;
                height: 300px;
                margin: 1em auto 1em auto;
            }
        }
    }
}

footer {
    padding-top: 0.25em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    background: #303030;
    .saarfit {
        strong {
            color: var(--primary-color);
        }
        ul.footer-contact {
            padding-bottom: 1.5em;
            li {
                color: white;
                font-weight: bold;
                text-align: left;
                margin-top: 1em;
                font-size: 0.75em;
                line-height: 0.25em;
                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
        ul.footer-rechtliches {
            padding-bottom: 0.5em;
            li {
                color: white;
                font-weight: bold;
                text-align: left;
                margin-top: 1em;
                font-size: 0.75em;
                line-height: 0.25em;
                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
    
    .rechtliches {
        strong {
            color: var(--primary-color);
        }
        ul.footer-contact {
            padding-bottom: 1.5em;
            li {
                color: white;
                font-weight: bold;
                text-align: left;
                margin-top: 1em;
                font-size: 0.75em;
                line-height: 0.25em;
                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
        ul.footer-rechtliches {
            padding-bottom: 0.5em;
            li {
                color: white;
                font-weight: bold;
                text-align: left;
                margin-top: 1em;
                font-size: 0.75em;
                line-height: 0.25em;
                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}

@media only screen and (min-width: 862px) {
    
    .navbar .mobile-menu, .navbar nav .mobile-menu-exit{
        display: none;
    }
    .navbar .container {
        display: grid;
        grid-template-columns: 180px auto;
        place-content: unset;
    }

    .navbar nav {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;
        margin-top: 0.5em;

        ul {
            display: flex;
        }

        a {
            color: #303030;
            font-size: 1em;
            padding: .1em 1em;
        }

        ul.primary-nav {
            margin: 0;
        }

        li a {
            font-weight: bold;

            &:hover {
                color: #b00b69;
            }
        }

        li.mitglied a {
            color: #b00b69;
            border: 3px solid #b00b69;
            border-radius: 5em;
            margin-top: -.2em;
            text-align: center;

            &:hover {
                background: #b00b69;
                color: white;
                font-weight: bold;                   
            }
        }

        
    }

    .studio {
        .studio-locations {
            display: grid;
            grid-template-columns: auto auto;
            place-content: unset;
            padding-top: 4em;
            .studio-list-left {
                height: 20em;
                ul {
                    padding-top: 0em;
                }
            }
            .studio-list-right {
                width: 40em;
                iframe {
                    display: initial;
                    height: 20em;
                    width: 40em;
                }
            }
        }
    }

    .prices ul {
        display: grid;
        grid-template-columns: auto auto auto;
        place-content: unset;
        .premium {
            padding-top: 0em;
        }
    }

    .contact .container {
        display: grid;
        grid-template-columns: auto auto;
        place-content: unset;

        .contact-right {
            padding-top: 7.5em;
            iframe {
                height: 340px;
            }
        }
    }

    .services {
        display: grid;
    }

    .news {
        display: grid;
    }

    footer .container{
        display: grid;
        grid-template-columns: 50% 50%;
        place-content: unset;
        .saarfit {
            strong {
                font-size: 2em;
                margin-right: 0.5em;
            }
        }
        .rechtliches {
            text-align: right;
            strong {
                font-size: 2em;
                margin-right: 0.5em;
            }
            ul.footer-rechtliches {
                li{
                    padding-right: 1.5em;
                    text-align: right;
                }
            }
        }
    }
}